body {
    background-image: url("images/1-背景.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -50px;
    background-attachment: fixed;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
background-color: rgb(201, 221, 247);
}
h1 {color: midnightblue;text-align: center; font-size: 65px;line-height: 30px;}

h3{
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0.5px;
    text-align: center;
}

h4{
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
}

h6 {color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;}

p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
}

b{
    color:brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    line-height: 30px;
    letter-spacing: 0.5px;
}

ul{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;}
